{% extends 'accounts/base_acc.html' %}
{% load bootstrap3 %}

{% block title %}
    Password Reset
{% endblock %}

{% block card_title %}
    Reset Password
{% endblock %}

{% block content %}
    {% if form.errors %}
        <p>Incorrect email address</p>
    {% endif %}
    <h5>Forgot password? Enter email address below!</h5>

    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}

            <input type="submit" class="btn btn-danger btn-block" value="Reset"><br>
            <p class="text-center"><a href="{% url 'accounts:login' %}">Log In</a></p>

    </form>
{% endblock %}
