{% extends 'accounts/base_acc.html' %}
{% load bootstrap3 %}

{% block card_title %}

{% endblock %}

{% block content %}

    <form method="POST" novalidate>
        {% csrf_token %}
        {% bootstrap_form form show_help=False %}
        {% buttons %}
            <input type="submit" class="btn btn-primary btn-block" value="Signup">
        {% endbuttons %}
        <p class="text-center">Allready have an account? <a href="{% url 'accounts:login' %}">Log In</a></p>
    </form>

{% endblock %}