{% extends 'core/base.html' %}

{% load bootstrap3 %}

{% block breadcrumb %}
    <div class="container">
        <h4>
            <a href="{% url 'core:index' %}">Categorii</a>/
            <a href="{% url 'core:topics' topic.categorie.pk %}">{{ topic.categorie.name }}</a>/
            {{ topic.subject }}
        </h4>
    </div>
{% endblock %}

{% block content %}

    <div class="container">
        <a class="btn btn-primary" href="{% url 'core:comment' topic.categorie.pk topic.pk %}">Comentariu nou</a>
        <p></p>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-9">
                    {{ topic.get_reteta_as_markdown|safe|linebreaks }}
                </div>
                <div class="col-lg-2 ml-auto">
                    <strong><i>Created:{{ topic.last_updated }}</i></strong>
                </div>
            </div>
        </div>
    </div>


    {% for msg in topic.posts.all %}
        {% if msg.message %}
        <p></p>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-2">
                        <p>{{ msg.created_by.username.title }}</p>
                    </div>

                    <div class="col-lg-7">
                        {{ msg.get_message_as_markdown|safe|linebreaksbr }}
                    </div>

                    <div class="col-lg-2 ml-auto">
                        <p><small><strong>Created:</strong>{{ msg.created_at }}</small><br>
                            <small><strong>Updated:</strong>{{ msg.updated_at }}</small></p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

    {% endfor %}


{% endblock %}